html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}
a{
	text-decoration:none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}


/***********Default-STYLES***********--^*/
.clearfix {
	clear: both;
}

.header {		
	background-color: RGB(100,100,100);
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
	padding: 0 15%;
	position: relative;
}
ul {
	float:left;
}
.header li {
	float:left;
	position:relative;
	padding:0.8em 0.8em;
	border-left:solid 1px RGB(125,125,125);
	border-right:solid 1px RGB(90,90,90);
}
#login {
	float:right;
}
.header a {
	color: white;
	font-size: 14px;
	vertical-align: middle;
	text-decoration: none;
}
.header li:hover{
	background:RGB(90,90,90);
	border-right:solid 1px RGB(45,45,45);
	border-left:solid 1px RGB(45,45,45);
}
.inputs {
	border-radius: 1.5em;
	background-color:RGB(40,40,40);
	text-align:center;
	color:white;
	margin:0.5em 1em;
	padding:0.5em 0;
	font-style:italic;
}

.nav2 {
	background-color: RGB(244,244,244);
	padding: 0 15%;
	position: relative;
}
.logo {
	padding:0.3em 1em 0.3em 0em;
	font-size:2em;
	float:left;	
}
.logo span{
	color:RGB(0,75,125);
	font-style:italic;
}
#sup{
	vertical-align:super;
	font-size:0.5em;
	color:blue;
	margin:0em 2em;
}
.nav2 ul{
	
}
.nav2 li {
	float:left;
	position:relative;
	margin:1.2em 0;
}
.nav2 a{
	color:RGB(125,125,125);
	padding:0.1em 2em;
	border-left:solid 1px RGB(125,125,125);
	border-right:solid 1px RGB(90,90,90);
	text-decoration: none;

}

/*--------------------------*/
.banner {
	background-color: RGB(235,235,220);
	/*height:18.5em;*/
	padding:2em 15%;
}
#p1 {
	font-size:2em;
	color:RGB(0,115,190);
}
#p2 {
	color:RGB(145,145,145);
}
#b1{
	border:solid 1px RGB(210,210,200);
	width:20em;
	background-color:white;
	color:RGB(0,115,190);
	border-radius:0.5em;
	padding:1em 1em 1em 2em;
	margin:1em 0em;	
}
#b2{
	border:solid 1px RGB(210,210,200);
	width:22em;
	font-size:13px;
	background-color:white;
	color:RGB(145,145,145);
	border-radius:0.5em;
	padding:1.5em 2em 1.5em 4em;
	margin:2em 0em;
	}
#myButton {
	margin:1em 4em 0em 3em;
	padding:0.8em 3em 0.8em 2em;
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1em;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
#myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
#myButton:active {
	position:relative;
	top:1px;
}
